.Menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &-Link {
    color: #fff;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      opacity: .8;
    }
  }
}