/*$white: #ffffff;
$teal: #67c3c7;
$light_grey: #f8fcff;
$red: #ec1818;
$blue: #44bdb2;
$dark_blue: #2196f3;
$yellow: #f3b238;
$dark_grey: #272727;*/

$white: #fff;
$teal: #a0a0a0;
$light_grey: #a0a0a0;
$red: #a0a0a0;
$blue: #a0a0a0;
$dark_blue: #a0a0a0;
$yellow: #a0a0a0;
$dark_grey: #a0a0a0;