.ShoplistForm {
  padding: 30px 15px;
  position: relative;
  width: 300px;
  background-color: #fff;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  &-Outer {
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-Close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &_Show {
    display: block;
  }

  &_Hide {
    display: none;
  }
}